body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
}
#app{
    width: 100%;
    height: 800px;
    background:  linear-gradient(#D35400 0%, #D68910  100% );
}
#mycarousel{
    background: linear-gradient( #566573  0% , #1B4F72 100%);
}
#mycarousel img{
    height: 300px;
    margin-top: 35px;
}
#chatbot{
    width: 100%;
    height: 800px;
    background:  linear-gradient( #4A235A  0%, #E8DAEF  100% );
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
}
.line{
    height: 6px;
    background-color: darkblue;
    width: 70px;
    margin: 8px auto;
}
